body,
html {
	width: 100%;
	background: rgb(0,255,250);
	background: linear-gradient(15deg, rgba(0,255,250,0.1) 0%, rgba(217,255,142,0.2) 37%, rgba(214,255,154,0.3) 57%, rgba(0,184,63,0.3) 91%);
}
.person {
    width: 65%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.person__info {
 	width: 35%;
    min-width: 325px;
    height: 350px;
 	padding: 32px 32px;
}
.person__contacts {
    width: 60%;
    padding: 30px;
    min-width: 30px;
    display: flex;
    align-items: center;
}
.person__details {

}
.avatar {
    width: 300px;
    height: 300px;
    margin-bottom: 32px;
}
.avatar__picture {
    border-radius: 50%;
    border: 25px solid #fff;
    
}
.avatar__picture:hover {
   
}
.contacts {
	font-family: sans-serif;
}
.contacts__name {
	font-size: 32px;
    font-weight: 600;
    color: #000;
}
.contacts__role {
	font-size: 19,2px;
    font-variant: inherit;
    font-weight: 700;
    color: #000;
    margin-bottom: 20px;
}
.contacts__item {
	list-style-type: none;
}
.contacts__title {
    font-weight: 600;
    font-style: oblique;
    color: #000;
}
.contacts__title:after {
    content: ':';
}
.contacts__link {
	color: gray;
}
.paragraph {
	margin-top: 16px;
    
}
.paragraph_last {
	margin-bottom: 48px;
}
